.categori-dropdown-wrap ul li.has-children .dropdown-menu{
    min-width: 200px !important;
    padding: 10px 0px !important;
}
@media (max-width: 767px){
    .main-categori-wrap{
        margin-right: 0px;
    }
}
.card_box {
    background: #ffffff;
    border-radius: 40px;
    margin-top: 40px;
    transition: 1s;
    margin-bottom: 40px;
}

.slider_carousel .owl-nav {
    position: absolute;
    top: 25%;
    width: 100%;
}

.slider_carousel .owl-prev, .slider_carousel .owl-next {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    background: #e8f6ea;
    color: #088178 !important;
    border-radius: 50%;
}

.slider_carousel .owl-next {
    float: right;
}

.slider_carousel .owl-prev {

}
.owl-carousel .owl-item {
    transition: transform 1s ease-in-out !important; /* Adjust the transition duration here */
}
.owl-stage{
    transition: all 1s ease 0s !important;
}
.irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single{
    background-color: #e8f6ea !important;
}
.irs--round .irs-handle{
    top: 30px !important;
    width: 15px !important;
    height: 15px !important;
    background-color: #008178 !important;
}
.irs--round .irs-bar{
    background-color: #008178 !important;
}
.colors .bi::before, [class^="bi-"]::before, [class*=" bi-"]::before{
    box-shadow: 0 0 5px grey;
    border-radius: 50%;
}
input[type="radio"]:checked + label {
    background-color: #008178;
    color: white !important;
    border-radius: 5px;
}
.color-option {
    position: relative;
    display: inline-block;
    margin-right: 10px; /* Adjust the margin as needed */
}

.selection-dot {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: #008178;
    border-radius: 50%;
    display: none;
}

.color-option.selected .selection-dot {
    display: block;
}
/* Example CSS styles */
.custom-swal-container {

}
div:where(.swal2-container).swal2-top-end>.swal2-popup, div:where(.swal2-container).swal2-top-right>.swal2-popup{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.custom-swal-popup {
    display: flex;
    padding: 10px;
    height: 80px;
    width: fit-content;/* Adjust as needed for spacing */
}

.custom-swal-icon {
    height: 30px;
    width: 30px;
    display: inline-block;
    margin-right: 10px; /* Adjust as needed for spacing */
    vertical-align: middle;
}


.custom-swal-title {
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    font-family: Lato, sans-serif;
    font-weight: 600 !important;
    padding-top: 0px !important;
}
div:where(.swal2-icon).swal2-error.swal2-icon-show {
    height: 30px !important;
    width: 30px !important;
    margin-top: 0px !important;
}
div:where(.swal2-icon){
    margin: 10px 0 0 0 !important;
}
div:where(.swal2-icon).swal2-error [class^=swal2-x-mark-line]{
    top: 13px !important;
    width: 20px !important;
    height: 5px !important;
}
div:where(.swal2-container) h2:where(.swal2-title){
    padding: 20px 20px 20px 5px;
}
div:where(.swal2-icon).swal2-error [class^=swal2-x-mark-line][class$=right]{
    right: 5px !important;
}
div:where(.swal2-icon).swal2-error [class^=swal2-x-mark-line][class$=left]{
    left: 5px !important;
}
.swal2-success .custom-swal-icon{
    height: 30px !important;
    width: 30px !important;

}
div:where(.swal2-icon).swal2-success{
    margin-top: 0px !important;
}
div:where(.swal2-icon).swal2-success [class^=swal2-success-line][class$=tip]{
    top: 15px !important;
    left: 4px !important;
    width: 10px !important;
}
div:where(.swal2-icon).swal2-success [class^=swal2-success-line][class$=long] {
    top: 13px !important;
    right: 3px !important;
    width: 20px !important;
}
div:where(.swal2-icon).swal2-success [class^=swal2-success-circular-line][class$=left]{
    background-color: transparent !important;
}
div:where(.swal2-icon).swal2-success.swal2-icon-show .swal2-success-circular-line-right{
    background-color: transparent !important;
}
div:where(.swal2-icon).swal2-success .swal2-success-fix{
    background-color: transparent !important;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #d5f4e3 !important;
}
.dropdown-item.active, .dropdown-item:active {
    color: black !important;
    background-color: #d5f4e3;
}
.payment_option label{
    padding: 0 10px 2px 10px;
}
.address-dropdown {

}
.custom_select .select2-container {
    max-width: 100% !important;
    width: 100% !important;
}
.mobile-overflow-x{
    display: flex;
    justify-content: space-around;
    column-gap: 50px;
}
.product-cart-wrap .product-action-1 .stock-out{
    background-color: #f6e8e8 !important;
    color: darkred !important;
}
.product-cart-wrap .product-action-1 .stock-out:hover{
    background-color: darkred !important;
}
.product-cart-wrap .product-action-1 .stock-out:after{
    background-color: darkred !important;
}
.product-cart-wrap .product-action-1 .stock-out:before{
    border-top-color: darkred !important;
}
[class*=" bi-"]::before{
    box-shadow: 0 0 5px transparent !important;
}
.custom-footer{
    border-top: 1px solid #0081781c;
}
.rating {
    unicode-bidi: bidi-override;
    color: #ddd; /* Personal choice */
    font-size: 25px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
#rating_lable input[type="radio"]:checked + label {
    background-color: transparent;
    color: #ffc239 !important;
    border-radius: 5px;
}
.rating input {
    display: none;
}
.rating label:hover,
.rating label:hover ~ label,
.rating input:checked + label,
.rating input:checked + label ~ label {
    color: #ffc107;
    font-size: 25px;
}


.front-stars, .back-stars, .star-rating {
    display: flex;
}

.star-rating {
    align-items: right;
    font-size: 25px;
    justify-content: right;
}

.back-stars {
    color: #CCC;
    position: relative;
}

.front-stars {
    color: #FFBC0B;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all 0.5s;
}
.percent {
    color: #bb5252;
    font-size: 1.5em;
}

.carausel-6-columns-cover .carausel-6-columns{
    margin: 0px !important;
}
.carausel-4-columns-cover .carausel-4-columns{
    margin: 0px !important;
}

.order-tracking .container{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.order-tracking .card {
    z-index: 0;
    background-color: #ECEFF1;
    padding-bottom: 20px;
    border-radius: 10px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.order-tracking .top {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.order-tracking .top .icon-content{
    width: 25%;
    justify-content: center;
}
.order-tracking .top .icon-content p{
    font-size: 12px;
}
/*Icon progressbar*/
.order-tracking #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #455A64;
    padding-left: 0px;
    margin-top: 30px;
} 

.order-tracking #progressbar li {
    list-style-type: none;
    font-size: 13px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
}

.order-tracking .order-tracking #progressbar .step0:before {
    font-family: FontAwesome;
    content: "\f10c";
    color: #fff;
}

.order-tracking #progressbar li:before {
    width: 40px;
    height: 40px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    background: #C5CAE9;
    border-radius: 50%;
    margin: auto;
    padding: 0px;
}

/*ProgressBar connectors*/
.order-tracking #progressbar li:after {
    content: '';
    width: 100%;
    height: 12px;
    background: #C5CAE9;
    position: absolute;
    left: 0;
    top: 16px;
    z-index: -1;
}

.order-tracking #progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    left: -50%;
}

.order-tracking #progressbar li:nth-child(2):after, #progressbar li:nth-child(3):after , #progressbar li:nth-child(4):after, #progressbar li:nth-child(5):after{
    left: -50%;
}

.order-tracking #progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    left: 50%;
}

.order-tracking #progressbar li:last-child:after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.order-tracking #progressbar li:first-child:after {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/*Color number of the step and the connector before it*/
.order-tracking #progressbar li.active:before, #progressbar li.active:after {
    background: #651FFF;
}

.order-tracking #progressbar li.active:before {
    font-family: FontAwesome;
    content: "\f00c";
    color: white;
}

.order-tracking .icon {
    width: 40px;
    height: 40px;
}

.order-tracking .icon-content { 
    padding-bottom: 20px;
}

.order-tracking #progressbar li:before {
    font-family: FontAwesome;
    font-size: 20px;
    background: #C5CAE9;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Completed (check icon) */
.order-tracking #progressbar li.active:before {
    content: "\f058"; /* FontAwesome check-circle */
    color: white;
    background: #651FFF;
}

/* Not Completed (cross icon) */
.order-tracking #progressbar li:not(.active):before {
    content: "\f057"; /* FontAwesome times-circle */
    color: #FF1744;
    background: #C5CAE9;
}
.licion img{
    margin-top: 20px;
}
.licion i{
    visibility: hidden;
}
.hidden {
    display: none;
}

#loaderOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    display: none;
}
.loaderOverlay-div{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
    width: 100%;
    height: 100%;
}
.loader-spin {
    width: 60px;
    height: 60px;
    border: 6px solid #ddd;
    border-top-color: #3498db;
    border-radius: 50%;
    animation: spin 0.9s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}


@media (max-width: 767px) {
    .mobile-overflow-x {
        display: flex;
        overflow-x: auto;
        flex-wrap: nowrap;
        column-gap: 20px;
        -webkit-overflow-scrolling: touch; /* Smooth scrolling for iOS */
        padding-left: 10px !important;
    }
    .mobile-overflow-x > div {
        flex: 1 5 auto; /* Prevent flex items from shrinking */
        margin-right: 10px; /* Add spacing between divs */
    }
    .mobile-overflow-x div h4 {
        font-size: 13px;
    }
    .mobile-ship-width{
        width: 70%;
    }
    .mobile-price-width{
        width: 30%;
        border-left: 1px solid #e1e1e1;
    }
    .mobile-table thead{
        display: block !important;
    }
    .mobile-table tr {
        display: grid;
        grid-template-columns: 60% 15% 25%;
    }
    .mobile-item-td{
        flex-direction: column;
    }
    html{
        overflow-x: hidden;
    }
    body{
        overflow: hidden !important;
    }
    .extraMObileSliderNewxt .owl-nav .owl-next{
        margin-right: 20px !important;
    }
    .order-tracking .icon-content {
        width: 50%;
    }
    .sliders-bg-size-mb{
        height: 220px !important;
    }
    .dot-style-1.dot-style-1-position-1 ul{
        bottom: 0px !important;
    }
}
@media only screen and (max-width: 480px) {
    .carausel-6-columns, .carausel-4-columns {
        max-width: 100% !important;
        overflow: hidden;
    }
    .arrow-left-extra .slider-prev {
        left: 0 !important;
    }
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 85% !important;
    }
}